// DONT TOUCH
@mixin flexCol {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
}
// DONT TOUCH
@mixin flexRow {
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: row ;
}
// DONT TOUCH
@mixin parralax {
    background-attachment: fixed;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
// DONT TOUCH
@mixin fullScreener {
    height: 100vh;
    width: 100%;
}
// DONT TOUCH
@mixin animationInfo{
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    
}
// DONT TOUCH
@mixin absCentered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// scroll bars stylings
/* width */
::-webkit-scrollbar {
    width: 1rem;
  }

  /* Track */

::-webkit-scrollbar-track {
    background: #3700FF;
    transition: all ease .5s !important;
    width: 2rem;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    border: 6px solid #3700FF;
    background: white;
    transition: all ease .5s !important;
    border-radius: 1rem;
}

  
/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
// background: #3700FF;
// cursor: pointer;

// }


body{
    font-family: 'Source Code Pro', monospace;
    position: relative;
    cursor: none;
    width: 100%;
    min-height: 100vh;
    height: auto;
    perspective: 200px;
    overflow: hidden;
    background-color: #3700FF;
    // background: radial-gradient(circle,#3700FF,black);
    &:hover{
        .the_beginning{
            .imgs_container{
                img{
                    transform: rotateX(0deg) rotateY(0deg) translateZ(0px);
                    margin-top: initial;
                }
            }
        }


    }   
    .navigationContainer{
        position: absolute;
        z-index: 100;
        color: white;
        @include absCentered();

        .navigationIcons{
            @include absCentered();
            font-size: 2rem;
            display: none;
            text-shadow: 0 0 1rem white;
        }
        .fa-chevron-left{
            transform: translate(-100%,-50%);
        }
        .fa-chevron-down{
            display: none;
        }
    }
    .the_beginning{
        position: relative;
        border: 1rem solid #3700FF;
        overflow: hidden;
        padding: 1.5% 2%;
        @include flexCol();
        @include fullScreener();
        justify-content: space-between;
        background-color: black !important;
        color: white;
        transition: all ease 1s;
        transform: rotateY(0deg) translate(0%) translateZ(0px);

        .imgs_container{
            @include absCentered();
            position: absolute;
            height: 85vh;
            width: 85vh;
            perspective: 1000px;

            img{
                user-select: none;
                margin-top: -10%;
                opacity: .2;
                height: 100%;
                width: 100%; 
                transition: all ease 1.5s;
                transform: rotateX(50deg) rotateY(20deg) translateZ(0px);
            }  
    
            .imgs_container2{
                @include absCentered();
                position: absolute;
                left: 0;
                margin-left: 35%;
                height: 65vh;
                width: 65vh;
                perspective: 1000px;
                img{
                    opacity: .4;
                    height: 100%;
                    width: 100%; 
                    transition: all ease 1s;

                }    
                .imgs_container3{
                    @include absCentered();
                    position: absolute;
                    left: 0;
                    margin-left: 35%;
                    height: 45vh;
                    width: 45vh;
                    perspective: 1000px;
 
                    img{
                        opacity: .6;
                        height: 100%;
                        width: 100%; 
                        transition: all ease .5s;
                    }            

                }          
            }   
        }

        .row{
            @include flexRow();
            justify-content: space-between;
            i{
                z-index: 10000;
                font-size: 2rem;
                transition: all ease .25s;
                &:hover{
                    color: #3700FF;
                }
            }
        }
        .top,.middle{
            width: 100%;
        }

        .middle{
            font-size: 2rem;
            .design,.develop{
                position: relative;
                transition: all ease .25s;
                &::after{
                    transition: all ease .25s;
                    content: '';
                    position: absolute;
                    height: 0%;
                    width: 90%;
                    background-color: #3700FF;
                    left: 0;
                    bottom: -25%;
                    border-radius: .5rem;
                }
            }

            .selected{
                &::after{
                    content: '';
                    position: absolute;
                    height: 10%;
                    width: 90%;
                    background-color: #3700FF;
                    left: 0;
                    bottom: -25%;

                }
            }

        }
        .bottom.row{
            justify-content: space-between;
            width: 2.5%;
            height: auto;
            div{
                position: relative;
                z-index: 1000;
                border-radius: 100%;
                height: .75rem;
                width: .75rem;
                background-color: rgba(255, 255, 255, 0.479);
                cursor: none;
                transition: all ease .5s;
                &:hover{
                    background-color: white;
                }
            }
            .centerspan{
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                div{
                    margin: 60% 0%;
                }
            }
            .up{
                background-color: white;
            }
        }
    }

    .recent_works,.about_me{
        position: absolute;
        border: 1rem solid #3700FF;
        overflow: hidden;
        padding: 1.5%;
        @include flexCol();
        @include fullScreener();
        justify-content: space-between;
        background-color: black !important;
        transition: all ease 1s;
        color: white;
        transform: rotateY(90deg) translate(-300%) translateZ(100px);
        top:0;
        left: 0;
        .row{
            @include flexRow();
            justify-content: space-between;
            i{
                z-index: 10000;
                font-size: 2rem;
                transition: all ease .25s;
                &:hover{
                    color: #3700FF;
                }
            }
        }
        .top,.middle{
            width: 100%;
        }

        .middle{
            font-size: 2rem;
            .design,.develop{
                position: relative;
                transition: all ease .25s;
                &::after{
                    transition: all ease .25s;
                    content: '';
                    position: absolute;
                    height: 0%;
                    width: 90%;
                    background-color: #3700FF;
                    left: 0;
                    bottom: -25%;
                    border-radius: .5rem;
                }
            }

            .selected{
                &::after{
                    content: '';
                    position: absolute;
                    height: 10%;
                    width: 90%;
                    background-color: #3700FF;
                    left: 0;
                    bottom: -25%;

                }
            }

        }
        .bottom.row{
            justify-content: space-between;
            width: 2.5%;
            height: auto;
            div{
                position: relative;
                z-index: 1000;
                border-radius: 100%;
                height: .75rem;
                width: .75rem;
                background-color: rgba(255, 255, 255, 0.479);
                cursor: none;
                transition: all ease .5s;
                &:hover{
                    background-color: white;
                }
            }
            .centerspan{
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                div{
                    margin: 60% 0%;
                }
            }
            .left{
                background-color: white;
            }
        }
    }
    // leave alone for now
    .about_me{
        transform: rotateX(90deg) translate(0%,150%) translateZ(200px);
        .row{
            .down{
                background-color: white;
            }
        }
    }
}