* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3700FF;
  -webkit-transition: all ease .5s !important;
  transition: all ease .5s !important;
  width: 2rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 6px solid #3700FF;
  background: white;
  -webkit-transition: all ease .5s !important;
  transition: all ease .5s !important;
  border-radius: 1rem;
}

/* Handle on hover */
body {
  font-family: 'Source Code Pro', monospace;
  font-family: 'Rock Salt', cursive;
  font-family: 'Abril Fatface', cursive;
  position: relative;
  cursor: none;
  width: 100%;
  min-height: 100vh;
  height: auto;
  -webkit-perspective: 200px;
          perspective: 200px;
  overflow: hidden;
  background-color: #3700FF;
}

body:hover .the_beginning .imgs_container img {
  -webkit-transform: rotateX(0deg) rotateY(0deg) translateZ(0px);
          transform: rotateX(0deg) rotateY(0deg) translateZ(0px);
  margin-top: initial;
}

body .navigationContainer {
  position: absolute;
  z-index: 2;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .navigationContainer .navigationIcons {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
  display: none;
  text-shadow: 0 0 1rem white;
}

body .navigationContainer .fa-chevron-left {
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

body .navigationContainer .fa-chevron-down {
  display: none;
}

body .the_beginning {
  position: relative;
  z-index: 1;
  border: 1rem solid #3700FF;
  overflow: hidden;
  padding: 1.5% 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black !important;
  color: white;
  -webkit-transition: all ease 1.5s;
  transition: all ease 1.5s;
  -webkit-transform: rotateY(0deg) translate(0%) translateZ(0px);
          transform: rotateY(0deg) translate(0%) translateZ(0px);
}

body .the_beginning .imgs_container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  height: 85vh;
  width: 85vh;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

body .the_beginning .imgs_container img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: -10%;
  opacity: .2;
  height: 100%;
  width: 100%;
  -webkit-transition: all ease 1.5s;
  transition: all ease 1.5s;
  -webkit-transform: rotateX(50deg) rotateY(20deg) translateZ(0px);
          transform: rotateX(50deg) rotateY(20deg) translateZ(0px);
}

body .the_beginning .imgs_container .imgs_container2 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  left: 0;
  margin-left: 35%;
  height: 65vh;
  width: 65vh;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

body .the_beginning .imgs_container .imgs_container2 img {
  opacity: .4;
  height: 100%;
  width: 100%;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

body .the_beginning .imgs_container .imgs_container2 .imgs_container3 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  left: 0;
  margin-left: 35%;
  height: 45vh;
  width: 45vh;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

body .the_beginning .imgs_container .imgs_container2 .imgs_container3 img {
  opacity: .6;
  height: 100%;
  width: 100%;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

body .the_beginning .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .the_beginning .row i {
  position: relative;
  z-index: 1000;
  font-size: 2rem;
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
}

body .the_beginning .top, body .the_beginning .middle {
  width: 100%;
}

body .the_beginning .middle {
  font-size: 3rem;
}

body .the_beginning .middle .design, body .the_beginning .middle .develop {
  position: relative;
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
  letter-spacing: 2px;
}

body .the_beginning .middle .design::after, body .the_beginning .middle .develop::after {
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
  content: '';
  position: absolute;
  height: 0%;
  width: 90%;
  background-color: #3700FF;
  left: 0;
  bottom: -25%;
  border-radius: .5rem;
}

body .the_beginning .middle .design::first-letter, body .the_beginning .middle .develop::first-letter {
  font-size: 5rem;
}

body .the_beginning .middle .selected::after {
  content: '';
  position: absolute;
  height: 10%;
  width: 90%;
  background-color: #3700FF;
  left: 0;
  bottom: -25%;
}

body .the_beginning .bottom.row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 3%;
  height: auto;
}

body .the_beginning .bottom.row div {
  position: relative;
  z-index: 1000;
  border-radius: 100%;
  height: .75rem;
  width: .75rem;
  background-color: rgba(255, 255, 255, 0.479);
  cursor: none;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

body .the_beginning .bottom.row div:hover {
  background-color: white;
}

body .the_beginning .bottom.row .centerspan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .the_beginning .bottom.row .centerspan div {
  margin: 20% 0%;
}

body .the_beginning .bottom.row .mid {
  background-color: white;
}

body .recent_works, body .about_me, body .contact_me {
  position: absolute;
  border: 1rem solid #3700FF;
  overflow: hidden;
  padding: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black !important;
  -webkit-transition: all ease 1.5s;
  transition: all ease 1.5s;
  color: white;
  -webkit-transform: rotateY(90deg) translate(-300%) translateZ(100px);
          transform: rotateY(90deg) translate(-300%) translateZ(100px);
  top: 0;
  left: 0;
}

body .recent_works .row, body .about_me .row, body .contact_me .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .recent_works .row i, body .about_me .row i, body .contact_me .row i {
  font-size: 2rem;
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
}

body .recent_works .row i:hover, body .about_me .row i:hover, body .contact_me .row i:hover {
  color: #3700FF;
}

body .recent_works .top, body .recent_works .middle, body .about_me .top, body .about_me .middle, body .contact_me .top, body .contact_me .middle {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .recent_works .top h2, body .recent_works .middle h2, body .about_me .top h2, body .about_me .middle h2, body .contact_me .top h2, body .contact_me .middle h2 {
  text-align: center;
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 6rem;
}

body .recent_works .top h2 span, body .recent_works .middle h2 span, body .about_me .top h2 span, body .about_me .middle h2 span, body .contact_me .top h2 span, body .contact_me .middle h2 span {
  font-size: 3rem;
}

body .recent_works .middle, body .about_me .middle, body .contact_me .middle {
  font-size: 2rem;
}

body .recent_works .middle .design, body .recent_works .middle .develop, body .about_me .middle .design, body .about_me .middle .develop, body .contact_me .middle .design, body .contact_me .middle .develop {
  position: relative;
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
}

body .recent_works .middle .design::after, body .recent_works .middle .develop::after, body .about_me .middle .design::after, body .about_me .middle .develop::after, body .contact_me .middle .design::after, body .contact_me .middle .develop::after {
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
  content: '';
  position: absolute;
  height: 0%;
  width: 90%;
  background-color: #3700FF;
  left: 0;
  bottom: -25%;
  border-radius: .5rem;
}

body .recent_works .middle .selected::after, body .about_me .middle .selected::after, body .contact_me .middle .selected::after {
  content: '';
  position: absolute;
  height: 10%;
  width: 90%;
  background-color: #3700FF;
  left: 0;
  bottom: -25%;
}

body .recent_works .bottom.row, body .about_me .bottom.row, body .contact_me .bottom.row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 3%;
  height: auto;
}

body .recent_works .bottom.row div, body .about_me .bottom.row div, body .contact_me .bottom.row div {
  position: relative;
  z-index: 1000;
  border-radius: 100%;
  height: .75rem;
  width: .75rem;
  background-color: rgba(255, 255, 255, 0.479);
  cursor: none;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

body .recent_works .bottom.row div:hover, body .about_me .bottom.row div:hover, body .contact_me .bottom.row div:hover {
  background-color: white;
}

body .recent_works .bottom.row .centerspan, body .about_me .bottom.row .centerspan, body .contact_me .bottom.row .centerspan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .recent_works .bottom.row .centerspan div, body .about_me .bottom.row .centerspan div, body .contact_me .bottom.row .centerspan div {
  margin: 20% 0%;
}

body .recent_works .bottom.row .left, body .about_me .bottom.row .left, body .contact_me .bottom.row .left {
  background-color: white;
}

body .recent_works .bottom.row .mid, body .about_me .bottom.row .mid, body .contact_me .bottom.row .mid {
  background-color: rgba(255, 255, 255, 0.479) !important;
}

body .about_me {
  -webkit-transform: rotateX(90deg) translate(0%, 150%) translateZ(200px);
          transform: rotateX(90deg) translate(0%, 150%) translateZ(200px);
}

body .about_me .row .down {
  background-color: white !important;
}

body .about_me .row .left {
  background-color: rgba(255, 255, 255, 0.479) !important;
}

body .about_me .row .up {
  background-color: rgba(255, 255, 255, 0.479) !important;
}

body .about_me .row .right {
  background-color: rgba(255, 255, 255, 0.479) !important;
}

body .contact_me {
  -webkit-transform: rotateY(-90deg) translate(300%) translateZ(100px);
          transform: rotateY(-90deg) translate(300%) translateZ(100px);
}

body .contact_me .row .down {
  background-color: rgba(255, 255, 255, 0.479) !important;
}

body .contact_me .row .left {
  background-color: rgba(255, 255, 255, 0.479) !important;
}

body .contact_me .row .up {
  background-color: rgba(255, 255, 255, 0.479) !important;
}

body .contact_me .row .right {
  background-color: white !important;
}
/*# sourceMappingURL=styles.css.map */