// DONT TOUCH
@mixin flexCol {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
}
// DONT TOUCH
@mixin flexRow {
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: row ;
}
// DONT TOUCH
@mixin parralax {
    background-attachment: fixed;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
// DONT TOUCH
@mixin fullScreener {
    height: 100vh;
    width: 100%;
}
// DONT TOUCH
@mixin animationInfo{
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    
}
// DONT TOUCH
@mixin absCentered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// scroll bars stylings
/* width */
::-webkit-scrollbar {
    width: 1rem;
  }

  /* Track */

::-webkit-scrollbar-track {
    background: #3700FF;
    transition: all ease .5s !important;
    width: 2rem;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    border: 6px solid #3700FF;
    background: white;
    transition: all ease .5s !important;
    border-radius: 1rem;
}

  
/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
// background: #3700FF;
// cursor: pointer;

// }


body{
    font-family: 'Source Code Pro', monospace;
    font-family: 'Rock Salt', cursive;
    font-family: 'Abril Fatface', cursive;
    position: relative;
    width: 100%;
    cursor: none;
    min-height: 100vh;
    height: auto;
    perspective: 200px;
    overflow: hidden;
    background-color: #3700FF;
    // background: radial-gradient(circle,black,#3700FF);
    &:hover{
        .the_beginning{
            .imgs_container{
                img{
                    transform: rotateX(0deg) rotateY(0deg) translateZ(0px);
                    margin-top: initial;
                }
            }
        }


    }   
    .navigationContainer{
        position: absolute;
        z-index: 2;
        @include absCentered();
        transition: none;

        .navigationIcons{
            @include absCentered();
            font-size: 2rem;
            display: none;
            text-shadow: 0 0 1rem white;
            color: white;
        }

        .fa-chevron-left{
            transform: translate(-100%,-50%);
        }
        .fa-chevron-down{
            display: none;
        }
        // .fa{
        //     display: none !important;

        // }
    }

    .the_beginning{
        position: relative;
        z-index: 1;
        border: 1vw solid #3700FF;
        overflow: hidden;
        padding: 1.5% 2%;
        @include flexCol();
        @include fullScreener();
        justify-content: space-between;
        background-color: black !important;
        color: white;
        transition: all ease 1.5s;
        transform: rotateY(0deg) translate(0%) translateZ(0px);

        .imgs_container{
            @include absCentered();
            position: absolute;
            height: 85vh;
            width: 85vh;
            perspective: 1000px;

            img{
                user-select: none;
                margin-top: -10%;
                opacity: .2;
                height: 100%;
                width: 100%; 
                transition: all ease 1.5s;
                transform: rotateX(50deg) rotateY(20deg) translateZ(0px);
            }  
    
            .imgs_container2{
                @include absCentered();
                position: absolute;
                left: 0;
                margin-left: 35%;
                height: 65vh;
                width: 65vh;
                perspective: 1000px;
                img{
                    opacity: .4;
                    height: 100%;
                    width: 100%; 
                    transition: all ease 1s;

                }    
                .imgs_container3{
                    @include absCentered();
                    position: absolute;
                    left: 0;
                    margin-left: 35%;
                    height: 45vh;
                    width: 45vh;
                    perspective: 1000px;
 
                    img{
                        opacity: .6;
                        height: 100%;
                        width: 100%; 
                        transition: all ease .5s;
                    }            

                }          
            }   
        }

        .row{
            @include flexRow();
            justify-content: space-between;
            perspective: 500px;
            transform: translateZ(10px);

            i{
                font-size: 2rem;
                transition: all ease .5s;
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
                border-top-left-radius: 50%;
                padding: 1%;
                transform: translate(45%,-30%);
                &:hover{
                    background: #3700FF;
                }
            }

        }
        .top,.middle{
            width: 100%;
            
        }

        .middle{
            font-size: 3rem;

            .design,.develop{
                position: relative;
                transition: all ease .25s;
                letter-spacing: 2px;
                transform: translateZ(-1px);
                &::after{
                    transition: all ease .25s;
                    content: '';
                    position: absolute;
                    height: 0%;
                    width: 90%;
                    background-color: #3700FF;
                    left: 0;
                    bottom: -25%;
                    border-radius: .5rem;
                }
                &::first-letter{
                    font-size: 5rem;
                }
            }

            .selected{
                &::after{
                    content: '';
                    position: absolute;
                    height: 10%;
                    width: 90%;
                    background-color: #3700FF;
                    left: 0;
                    bottom: -25%;

                }
            }

        }
        .bottom.row{
            justify-content: space-between;
            width: 3%;
            height: auto;
            div{
                position: relative;
                z-index: 1000;
                border-radius: 100%;
                height: .75rem;
                width: .75rem;
                background-color: rgba(255, 255, 255, 0.479);
                cursor: none;
                transition: all ease .5s;
                &:hover{
                    background-color: white;
                }
            }
            .centerspan{
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                div{
                    margin: 20% 0%;
                }
            }
            .mid{
                background-color: white;
            }
        }
    }

    .recent_works,.about_me,.contact_me,.skills_section,.nav_section{
        position: absolute;
        border: 1vw solid #3700FF;
        overflow: visible;
        padding: 1.5%;
        @include flexCol();
        @include fullScreener();
        justify-content: space-between;
        background-color: black !important;
        transition: all ease 1.5s;
        color: white;
        transform: rotateY(90deg) translate(-300%) translateZ(100px);
        top:0;
        left: 0;
        .row{
            @include flexRow();
            justify-content: space-between;
            i{
                font-size: 2rem;
                transition: all ease .5s;
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
                border-top-left-radius: 50%;
                padding: 1%;
                transform: translate(30%,-30%);
                &:hover{
                    background: #3700FF;
                }
            }
        }
        .top,.middle{
            width: 100%;
            justify-content: flex-end;
            h2{
                transform: translateZ(10px);
                text-align: center;
                position: absolute;
                @include absCentered();
                font-size: 6rem;
                z-index: 10;
                span{
                    font-size: 3rem;
                }
            }
            p{
                position:absolute;
                @include absCentered();
                width: 30%;
                font-size: 1.7vw;
                text-align: center;
                transform: translate(-50%,100%) translateZ(10px);
                a{
                    transition: all ease .5s;
                    color: white;
                    text-decoration:none;
                    position: relative;
                    text-align: center;
                    padding: 0% 1%;
                    &::after{
                        transition: all ease .5s;
                        content: '';
                        position:absolute;
                        bottom: 0;
                        left: 0;
                        width: 101%;
                        height: 8%;
                        background: #3700ff;
                        z-index: -1;
                    }
                    &:hover{
                        &::after{
                            height: 90%;
                        }
                    }
                }
            }
        }

        .middle{
            font-size: 2rem;
            perspective: 75vw;
            a{
                transition: all ease 1s;
                cursor: none;
                @include flexCol();
                @include absCentered();
                text-decoration: none;
                text-align: center;
                overflow: hidden;
                background-size: 100% 100%;
                color: white;
                border-bottom: .25rem solid #3700FF;
                background-position: center;
                cursor: pointer;
                perspective: 10px;
                div{
                    @include flexCol();
                    background:#3700ffab !important;
                    justify-content: space-evenly;
                    height: inherit;
                    width: 100%;
                    transition: all ease .5s;
                    opacity: 0;
                    h1,h6{
                        text-shadow: 0 0 1rem black;
                    }
                    h1{
                        font-size: 3vw;
                        line-height: 1;
                    }
                }
                &:hover{
                    background-size: 150% 150%;
                    border-bottom: .25rem solid white;

                    div{
                        opacity: 1;
                    }
                }
            }
            .varepprev{
                @include absCentered();
                height: 13vw;
                width: 23vw;
                z-index: 0;
                transform: translate(90%,50%) rotateY(0deg) rotateX(0deg);
                background-image: url(/public/images/varepPreview.PNG);
                div{
                    background:#305fb1c4;
                }

            }
            .reactsite{
                background-image: url(/public/images/reactsite.PNG);
                height: 13vw;
                width: 23vw;

                transform: translate(90%,-150%);
                div{
                    background:rgba(111, 26, 160, 0.671);
                }
            }
            .intsite{
                background-image: url(/public/images/interactiveprev.PNG);
                height: 13vw;
                width: 23vw;
                transform: translate(-190%,-150%);
                background-size: 101% 101%;

                div{
                    background:rgba(0, 255, 0, 0.178);
                }
            }
            .gameprev{
                background-image: url(/public/images/gameprev.PNG);
                height: 13vw;
                width: 13vw;
                background-size: 101% 101%;
                transform: translate(-50%,-150%);
                div{
                    background:rgba(0, 0, 255, 0.308);
                }
            }            
            .paintedsite{
                @include absCentered();
                height: 13vw;
                width: 23vw;
                z-index: 0;
                transform: translate(-190%,50%);                
                background-image: url(/public/images/animateprev.PNG);
                div{
                    background:#585858c4;
                }
            }
        }
        .bottom.row{
            justify-content: space-between;
            width: 3%;
            height: auto;
            position: relative;

            div{
                position: relative;
                z-index: 1000;
                border-radius: 100%;
                height: .75rem;
                width: .75rem;
                background-color: rgba(255, 255, 255, 0.479);
                cursor: none;
                transition: all ease .5s;
                &:hover{
                    background-color: white;
                }
            }
            .centerspan{
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                div{
                    margin: 20% 0%;
                }
            }
            .left{
                background-color: white;
            }
            .mid{
                background-color: rgba(255, 255, 255, 0.479) !important;
            }
        }
    }

    .nav_section{
        z-index: 1;
        transform: rotateX(0deg) translate(0) translateZ(100vh);
        position: absolute;
        height: 100vh;
        width: 100%;
    }
    // leave alone for now
    .about_me{
        transform: rotateX(90deg) translate(0%,150%) translateZ(200px);
        .row{
            .down{
                background-color: white !important;
            }
            .left{
                background-color: rgba(255, 255, 255, 0.479) !important;
            }
            .up{
                background-color: rgba(255, 255, 255, 0.479) !important;
            }
            .right{
                background-color: rgba(255, 255, 255, 0.479) !important;
            }
        }
    }
    .contact_me{
        transform: rotateY(-90deg) translate(300%) translateZ(100px) ;
        .row{
            .down{
                background-color: rgba(255, 255, 255, 0.479) !important;
            }
            .left{
                background-color: rgba(255, 255, 255, 0.479) !important;
            }
            .up{
                background-color: rgba(255, 255, 255, 0.479) !important;
            }
            .right{
                background-color: white !important;
            }        }
    }
    .skills_section{
        transform: rotateX(-90deg) translate(0%,-150%) translateZ(200px);
        .row{
            .down{
                background-color: rgba(255, 255, 255, 0.479) !important;
            }
            .left{
                background-color: rgba(255, 255, 255, 0.479) !important;
            }
            .up{
                background-color: white !important;
            }
            .right{
                background-color: rgba(255, 255, 255, 0.479) !important;
            }        
        }
    }
}